$primary-color: #131111;
$secondary-color: #F5F5F5;
$color-content: #333;
$color-content-light: #7D7D7D;
$color-content-lighter: #BCBCBC;
$accent-color: #0178F3;
$accent-color-bright: #F64F00;

$breakpoint-xxl: 1399px;
$breakpoint-xl: 1199px;
$breakpoint-lg: 991px;
$breakpoint-md: 767px;
$breakpoint-sm: 575px;
$breakpoint-xs: 375px;
