.contacts-list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($breakpoint-md) {
        margin-top: 0;
    }

    &__group{
        margin-bottom: 16px;

        &--lg {
            width: 100%;
        }

        &--sm {
            &:nth-child(odd) {
                width: 40%;
            }
        }

        @include breakpoint($breakpoint-md) {
            font-size: 14px;
        }
    }

    &__title {
        margin-bottom: 4px;
        color: $color-content-lighter;

        @include breakpoint($breakpoint-md) {
            margin-bottom: 0;
        }
    }

    &__description {
        margin: 0;

        transition: opacity .2s linear;

        &:hover {
            > a {
                opacity: .5;
            }
        }
    }
}