.discount {
    padding-top: 70px;
    padding-bottom: 156px;
    position: relative;

    &__wrapper {
        position: relative;
    }

    &__title {
        width: 100%;
        max-width: 662px;
        margin-bottom: 40px;

        font-weight: 700;
        font-size: 90px;
        line-height: 101px;
        color: $color-content-lighter;

        font-variant-numeric: lining-nums;
        -webkit-font-feature-settings: "lnum" 1;
        -moz-font-feature-settings: "lnum" 1;
        font-feature-settings: "lnum" 1;

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 30px;

            font-size: 74px;
            line-height: 83px;
        }

        @include breakpoint($breakpoint-md) {
            font-size: 70px;
            line-height: 79px;
        }

        @include breakpoint($breakpoint-sm) {
            margin-bottom: 20px;

            font-size: 56px;
            line-height: 63px;
            text-align: center;
        }
    }

    &__title-elem {
        display: inline-block;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px $color-content-lighter;

        &:nth-of-type(2) {
            padding-left: 76px;

            @include breakpoint($breakpoint-sm) {
                padding-left: 0;
            }
        }
    }

    &__decorative {
        position: absolute;
        z-index: 2;

        &--zipper {
            top: 23px;
            left: 333px;

            &:before {
                content: '';
                width: 105px;
                height: 105px;

                background: radial-gradient(50% 50% at 50% 50%, $accent-color 0%, rgba(1, 120, 243, 0) 100%);
                filter: blur(32px);

                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
            }

            @include breakpoint($breakpoint-lg) {
                top: 5px;
                left: 270px;
            }

            @include breakpoint($breakpoint-sm) {
                top: 14px;
                left: 0;
            }
        }

        &--sale {
            top: 132px;
            left: 0;

            &:before {
                content: '';
                width: 105px;
                height: 105px;

                background: radial-gradient(50% 50% at 50% 50%, $accent-color-bright 0%, rgba(246, 79, 0, 0) 100%);
                filter: blur(32px);

                position: absolute;
                top: 50%;
                left: 50%;
                z-index: 1;
                transform: translate(-50%, -50%);
            }

            @include breakpoint($breakpoint-lg) {
                top: 95px;
            }

            @include breakpoint($breakpoint-sm) {
                top: 385px;
                left: 47px;
            }

            @include breakpoint($breakpoint-xs) {
                top: 490px;
            }
        }
    }

    &__decorative-zipper-icon {
        width: 64px;
        height: 63px;

        fill: transparent;
        stroke: $accent-color;

        @include breakpoint($breakpoint-sm) {
            width: 57px;
            height: 56px;
        }
    }

    &__decorative-sale-icon {
        width: 57px;
        height: 56px;

        fill: transparent;
        stroke: $accent-color-bright;

        @include breakpoint($breakpoint-sm) {
            width: 50px;
            height: 49px;
        }
    }

    &__description {
        width: 100%;
        max-width: 480px;
        margin-bottom: 20px;

        font-size: 18px;
        line-height: 24px;
        color: $color-content-lighter;

        @include breakpoint($breakpoint-md) {
            max-width: none;
            width: 73%;
        }

        @include breakpoint($breakpoint-sm) {
            width: 100%;

            font-size: 16px;
            text-align: center;
        }
    }

    &__form {
        width: 445px;
        margin-bottom: 57px;

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 40px;
        }

        @include breakpoint($breakpoint-md) {
            width: 50%;
        }

        @include breakpoint($breakpoint-sm) {
            width: 70%;
            margin-bottom: 20px;
            margin-left: auto;
        }

        @include breakpoint($breakpoint-xs) {
            width: 100%;
        }
    }

    &__image {
        width: 655px;
        height: 655px;

        border-radius: 50%;
        background: url('../images/discount-image.jpg') no-repeat center right -28px;

        position: absolute;
        top: -9px;
        right: -408px;
        z-index: 2;

        &:before {
            content: '';
            width: 736px;
            height: 736px;

            border-radius: 50%;
            border: 1px solid $color-content;

            position: absolute;
            top: 50%;
            left: 50%;
            z-index: 1;

            transform: translate(-50%, -50%);

            @include breakpoint($breakpoint-lg) {
                width: 560px;
                height: 560px;
            }

            @include breakpoint($breakpoint-md) {
                width: 450px;
                height: 450px;
            }
        }

        @include breakpoint($breakpoint-xxl) {
            right: -205px;
        }

        @include breakpoint($breakpoint-xl) {
            right: -375px;
        }

        @include breakpoint($breakpoint-lg) {
            width: 500px;
            height: 500px;

            background-position: top -34px right -165px;

            top: 95px;
            right: -290px;
        }

        @include breakpoint($breakpoint-md) {
            width: 400px;
            height: 400px;

            background-position: top -30px right -250px;

            top: 265px;
            right: -215px;
        }

        @include breakpoint($breakpoint-sm) {
            display: none;
        }
    }

    &__btn {
        margin-left: -1px;

        @include breakpoint($breakpoint-sm) {
            margin-left: auto;
        }
    }
}