.footer {
    padding-top: 106.5px;
    padding-bottom: 100px;

    background: $secondary-color;

    &__wrapper {
        display: flex;
        position: relative;
    }

    &__contacts {
        max-width: 470px;
        margin-right: 52px;
    }

    &__header {
        @extend %flex-align-center;
        margin-top: -9px;
        margin-bottom: 47px;
    }

    &__logo {
        margin-right: 50px;
    }

    &__description-list {
        margin-bottom: 50px;
    }

    &__nav {
        display: flex;
        margin-top: 83px;
    }

    &__nav-col {
        &:first-child {
            margin-right: 77px;
        }
    }

    &__nav-title {
        margin-bottom: 24px;

        font-weight: 700;
        font-size: 18px;
    }

    &__nav-list {
        margin-bottom: 56px;

        &--mb {
            margin-bottom: 140px;
        }

        li {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    &__button-feedback {
        position: absolute;
        top: -6px;
        right: 1px;
        z-index: 2;
    }

    &__logo-developers {
        flex-shrink: 0;
        width: 132px;
        height: 32px;

        position: absolute;
        bottom: 56px;
        right: 17px;
        z-index: 2;
    }
}