.footer {
    padding-top: 105px;
    padding-bottom: 100px;

    background: $secondary-color;

    &__wrapper {
        display: flex;
        position: relative;

        @include breakpoint($breakpoint-lg) {
            flex-direction: column-reverse;
        }
    }

    &__contacts {
        max-width: 460px;
        margin-right: 62px;

        @include breakpoint($breakpoint-xl) {
            width: 400px;
            margin-right: 45px;
        }
    }

    &__header {
        @extend %flex-align-center;
        margin-top: -9px;
        margin-bottom: 32px;

        @include breakpoint($breakpoint-md) {
            margin-bottom: 16px;
        }

        @include breakpoint($breakpoint-sm) {
            flex-direction: column;
            align-items: flex-start;
        }

    }

    &__logo {
        margin-right: 50px;

        @include breakpoint($breakpoint-sm) {
            margin-right: 0;
            margin-bottom: 30px;
        }
    }

    &__description-list {
        margin-bottom: 51px;
    }

    &__nav {
        display: flex;
        margin-top: 15px;
    }

    &__nav-col {
        &:first-child {
            margin-right: 77px;

            @include breakpoint($breakpoint-xl) {
                margin-right: 45px;
            }
        }
    }

    &__nav-title {
        margin-bottom: 24px;

        font-weight: 700;
        font-size: 18px;

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 18px;
        }

        @include breakpoint($breakpoint-md) {
            margin-bottom: 12px;
            font-size: 16px;
        }
    }

    &__nav-list {
        margin-bottom: 56px;

        &--mb {
            margin-bottom: 140px;
        }

        li {
            transition: opacity .2s linear;

            &:not(:last-child) {
                margin-bottom: 16px;

                @include breakpoint($breakpoint-lg) {
                    margin-bottom: 14px;
                }

                @include breakpoint($breakpoint-md) {
                    margin-bottom: 10px;
                }
            }

            &:hover {
                opacity: .5;
            }
        }

        @include breakpoint($breakpoint-lg) {
            margin-bottom: 40px;
        }

        @include breakpoint($breakpoint-md) {
            margin-bottom: 30px;
            font-size: 14px;
        }
    }

    &__button-feedback {
        position: absolute;
        top: -73px;
        right: 1px;
        z-index: 2;

        @include breakpoint($breakpoint-lg) {
            top: -7px;
            right: 90px;
        }

        @include breakpoint($breakpoint-md) {
            right: 0;
        }

        @include breakpoint($breakpoint-sm) {
            top: -84px;
        }
    }

    &__logo-developers {
        flex-shrink: 0;
        width: 132px;
        height: 32px;

        position: absolute;
        bottom: 56px;
        right: 17px;
        z-index: 2;

        @include breakpoint($breakpoint-xxl) {
            bottom: 0;
        }

        @include breakpoint($breakpoint-xxl) {
            bottom: -67px;
            left: 0;
        }
    }
}