.intro {
    width: 100%;
    padding: 260px 0 130px;

    background: url('../images/intro-background.svg') no-repeat top 119px center;

    @include breakpoint($breakpoint-xl) {
        padding: 200px 0 100px;

        background-size: 835px auto;
        background-position: top 90px center;
    }

    @include breakpoint($breakpoint-lg) {
        background-size: 730px auto;
        background-position: top 78px center;
    }

    @include breakpoint($breakpoint-md) {
        background-size: 406px auto;
        background-position: top 114px center;
    }
}