.language-selection {
    @extend %flex-align-center;
    color: $color-content-light;

    &__item {
        transition: color .2s ease;

        &:first-child {
            margin-right: 4px;
            padding-right: 14px;

            position: relative;

            &:before {
                content: '\002F';

                color: $color-content-light;

                position: absolute;
                top: 0;
                right: 0;
            }
        }

        &--active {
            color: #D8D8D8;
        }

        &:hover {
            color: $secondary-color;
        }
    }
}