.logo {
    flex-shrink: 0;
    width: 62px;
    height: 30px;

    @include breakpoint($breakpoint-md) {
        width: 37px;
        height: 17.9px;
    }
}

.logo-dark {
    flex-shrink: 0;
    width: 261px;
    height: 27px;
}