.user-actions {
    @extend %flex-align-center;

    &__item {
        margin-right: 16px;
        transition: opacity .2s ease;

        &:nth-last-child(2) {
            margin-right: 24px;

            @include breakpoint($breakpoint-xl) {
                margin-right: 16px;
            }
        }

        &:hover {
            opacity: .5;
        }

        @include breakpoint($breakpoint-lg) {
            &:nth-child(2),
            &:nth-child(3) {
                margin-right: 0;
            }
        }
    }

    &__item-cart {
        margin-right: 1px;
        transition: opacity .2s ease;

        &:hover {
            opacity: .5;
        }
    }

    &__link {
        display: block;
        width: 26px;
        height: 26px;

        background-repeat: no-repeat;
        background-size: contain;

        &--search {
            background-image: url('../images/search-icon.svg');
        }

        &--phone {
            background-image: url('../images/phone-icon.svg');

            @include breakpoint($breakpoint-lg) {
                display: none;
            }
        }

        &--statistics {
            background-image: url('../images/statistics-icon.svg');

            @include breakpoint($breakpoint-lg) {
                display: none;
            }
        }

        &--user {
            background-image: url('../images/user-icon.svg');
        }

        &--cart {
            width: 54px;
            height: 54px;

            background-image: url('../images/cart-icon.svg');
        }
    }
}